In [1]:
import numpy as np
import pandas as pd
from IPython.display import display, HTML

In [2]:
# read configuration from config files
from config import settings

Notebook is started.
Reading the config file is finished.

This is a transnational data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and
registered non-store online retail. The company mainly sells unique all-occasion gifts. Many customers of the company are wholesalers. <br>

InvoiceNo: Invoice number. Nominal, a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c',
it indicates a cancellation. <br>
StockCode: Product (item) code. Nominal, a 5-digit integral number uniquely assigned to each distinct product. <br>
Description: Product (item) name. Nominal. <br>
Quantity: The quantities of each product (item) per transaction. Numeric. <br>
InvoiceDate: Invoice Date and time. Numeric, the day and time when each transaction was generated. <br>
UnitPrice: Unit price. Numeric, Product price per unit in sterling. <br>
CustomerID: Customer number. Nominal, a 5-digit integral number uniquely assigned to each customer. <br>
Country: Country name. Nominal, the name of the country where each customer resides. <br>

source: https://archive.ics.uci.edu/ml/datasets/online+retail

In [15]:
%%time
# @formatter:on

df = pd.read_csv(settings.notebook.feature_evaluation.data_source_path, encoding = 'unicode_escape')
# there was a problem with bare pd.read_csv: 'utf-8' codec can't decode byte 0xa3 in position 79780: invalid start byte
print(f"Dataframe length is: {len(df.index)}")
print(f"Number of columns is: {len(df.columns)}")
print(f"Columns inferred types are:")
print(df.dtypes)
df.head(10)

Dataframe length is: 541909
Number of columns is: 8
Columns inferred types are:
InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object
Wall time: 898 ms

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom

In [16]:
%%time
# @formatter:on

# last five rows
df.tail(10)

Wall time: 1.04 ms

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,12/9/2011 12:50,3.75,12680.0,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,12/9/2011 12:50,3.75,12680.0,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,12/9/2011 12:50,1.95,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,12/9/2011 12:50,4.15,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [ ]:
%%time
# @formatter:on

# memory usage of each column in bytes
df.memory_usage(deep = True)

In [17]:
%%time
# @formatter:on

# dataframe info and memory usage
df.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
Wall time: 118 ms

there's null values let's find out the percentage.

In [ ]:
%%time
# @formatter:on

tab_info = pd.DataFrame(df.dtypes).T.rename(index = {0: 'column type'})
tab_info = tab_info.append(pd.DataFrame(df.isnull().sum()).T.rename(index = {0: 'null values (nb)'}))
tab_info = tab_info.append(pd.DataFrame(df.isnull().sum() / df.shape[0] * 100).T.rename(index = {0: 'null values (%)'}))
display(tab_info)

In [22]:
%%time
# @formatter:on

# https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], format = '%m/%d/%Y %H:%M')
print(f"start date is (year/month/day 24-hour clock): {df['InvoiceDate'].min()}, \n"
      f"end date is: {df['InvoiceDate'].max()}, \n"
      f"duration is: {df['InvoiceDate'].max() - df['InvoiceDate'].min()}")
print(df.dtypes)

start date is (year/month/day 24-hour clock): 2010-12-01 08:26:00,
end date is: 2011-12-09 12:50:00,
duration is: 373 days 04:24:00
InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object
Wall time: 49.2 ms

In [23]:
%%time
# @formatter:on

df.astype({'InvoiceNo': str,
           'StockCode': str,
           'Description': str,
           'InvoiceDate': str,
           'CustomerID': int,
           'Country': str}, errors = 'raise').dtypes

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
%%time
# @formatter:on

In [ ]:
%%time
# @formatter:on